.showSearch {
    max-width: 300px;
}

.showSuggestions {
    display: none;
    flex-direction: row;
    background-color: transparent;
    margin-top: 3rem;

    &.showSuggestionsVisible {
        display: flex;
    }
}
